In [1]:
import pandas as pd

In [2]:

songs_dict = {
                'Customer': ['Aria', 'Aria', 'Aria', 'Chord', 'Chord', 'Harmony', 'Harmony', 'Harmony', 'Melody', 'Reed'],
                'Genre': ['Pop', 'Indie', 'Rock', 'Pop', 'Indie', 'Pop', 'Indie', 'Rock', 'Rock', 'Rock'],
                '# Songs': [50, 48, 1, 15, 36, 10, 5, 3, 2, 5]
             }

df = pd.DataFrame(songs_dict)
df

  Customer  Genre  # Songs
0     Aria    Pop       50
1     Aria  Indie       48
2     Aria   Rock        1
3    Chord    Pop       15
4    Chord  Indie       36
5  Harmony    Pop       10
6  Harmony  Indie        5
7  Harmony   Rock        3
8   Melody   Rock        2
9     Reed   Rock        5

In [4]:
# groupby

df.groupby('Customer')['# Songs'].sum().reset_index()

  Customer  # Songs
0     Aria       99
1    Chord       51
2  Harmony       18
3   Melody        2
4     Reed        5

In [6]:
# save as a dataframe

songs_groupby = df.groupby("Customer")['# Songs'].sum().reset_index()
songs_groupby

  Customer  # Songs
0     Aria       99
1    Chord       51
2  Harmony       18
3   Melody        2
4     Reed        5

In [9]:
# pivot

songs_pivot = df.pivot(index = 'Customer', columns ='Genre', values = '# Songs').fillna(0).reset_index()
songs_pivot

Genre Customer  Indie   Pop  Rock
0         Aria   48.0  50.0   1.0
1        Chord   36.0  15.0   0.0
2      Harmony    5.0  10.0   3.0
3       Melody    0.0   0.0   2.0
4         Reed    0.0   0.0   5.0