In [1]:
import pandas as pd

  Customer  # Songs  Indie  Pop  Rock
0     Aria       99     48   50     1
1    Chord       51     36   15     0
2  Harmony       18      5   10     3
3   Melody        2      0    0     2
4     Reed        5      0    0     5
5   Selena       60     20   20    20
6  Stefani       15      2    5     8
7   Taylor      121     19   89    13