# Data Prep for Unsupervised Learning

## 1. Row Granularity

In [6]:
# create a sample dataframe
import pandas as pd

songs_dict = {
                'Customer': ['Aria', 'Aria', 'Aria', 'Chord', 'Chord', 'Harmony', 'Harmony', 'Harmony', 'Melody', 'Reed'],
                'Genre': ['Pop', 'Indie', 'Rock', 'Pop', 'Indie', 'Pop', 'Indie', 'Rock', 'Rock', 'Rock'],
                '# Songs': [50, 48, 1, 15, 36, 10, 5, 3, 2, 5]
             }

songs = pd.DataFrame(songs_dict)
songs

  Customer  Genre  # Songs
0     Aria    Pop       50
1     Aria  Indie       48
2     Aria   Rock        1
3    Chord    Pop       15
4    Chord  Indie       36
5  Harmony    Pop       10
6  Harmony  Indie        5
7  Harmony   Rock        3
8   Melody   Rock        2
9     Reed   Rock        5

### a. Group By

In [ ]:
# use group by to sum up the songs for each customer
(songs.groupby('Customer')['# Songs']
      .sum()
      .reset_index())

In [ ]:
# the original dataframe is unchanged
songs.head()

In [ ]:
# save the results as a new dataframe
customers_songs = (songs.groupby('Customer')['# Songs']
                        .sum()
                        .reset_index())
customers_songs

In [ ]:
### b. Pivot

In [ ]:
# use pivot to turn the genres into columns
(songs.pivot(index='Customer',
             columns='Genre',
             values='# Songs'))

In [ ]:
# add on a fillna to remove the NaN values
(songs.pivot(index='Customer',
             columns='Genre',
             values='# Songs')
      .fillna(0))

In [ ]:
# add on a reset_index to remove the multi-index
(songs.pivot(index='Customer',
             columns='Genre',
             values='# Songs')
      .fillna(0)
      .reset_index())

## 2. Non-Null and Numeric Columns

In [ ]:
# read in the customers data
customers_raw = pd.read_csv('customers.csv')
customers_raw

In [ ]:
# create a dataframe that will hold clean data
customers = customers_raw.copy()
customers

In [2]:
# temp

## 3. Feature Engineering

In [3]:
# temp

## 4. Feature Selection

In [4]:
# temp

## 5. Feature Scaling

In [5]:
# temp